#footer{
    background-color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.copyright{
    background-color: rgb(207, 207, 207);
    height: 40px;
    width: 100vw;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}
.linksContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;
    margin-top: 10px;
}

#footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#footer ul li{
    margin-bottom: 5px;
}

#footer a{
    color: var(--black);
    text-decoration: none;
    white-space: nowrap;
}

#footer a:hover{
    color: var(--cinnabar);
    white-space: nowrap;
    transition: cubic-bezier(1, 0, 0, 1);
    transition-duration: 200ms;
    border-bottom: 1px solid var(--cinnabar);
}
@media (min-width: 800px) {

    .linksContainer{
        width: 30%;
    }
}