#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    background-image: url(/assets/low-poly-grid-haikei.svg);
    background-position: center;
}

.heroText{
    margin: 20px;
    padding: 20px;
}
.heroText p{
    margin: 20px;
}
.btnContainer{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.heroImg{
    max-width: 100%;
    height: auto;
}

@media (min-width: 800px) {
#hero{
    display: flex;
    flex-direction: row;
    height: auto;
}
.heroImg{
    width: 100vh;
    height: auto;
}
}
