#navbar {
    z-index: 21;
    height: 50px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.90);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarDesktop {
    display: none;
    flex-direction: row;
    font-size: 2.2vmin;
    white-space: nowrap;
    margin-right: 40px;
}

.navbarDesktop a {
    text-decoration: none;
    color: var(--black);
    margin-left: 10px;
    margin-right: 10px;
}
.navbarDesktop a:hover {
    color: var(--cinnabar);
    text-decoration: underline;
    transition: cubic-bezier(1, 0, 0, 1);
    transition-duration: 200ms;
}

.logo {
    margin-left: 20px;
    color: var(--black);
    text-decoration: none;
}

/* Burger Button */
#navbarButton {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border: hidden;
    background-color: transparent;
    margin-right: 20px;
}

#navbarButton span {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: gray;
    position: absolute;
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

#navbarButton :first-child {
    margin-bottom: 14px;
}
#navbarButton :last-child {
    margin-top: 15px;
}

/* Toggle Animation */
.burgerLine1 {
    transform: rotate(-45deg);
    margin-bottom: 0 !important;
}
.burgerLine2 {
    transform: scale(0);
}
.burgerLine3 {
    transform: rotate(45deg);
    margin-top: 0 !important;
}

.navbarMenu {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    transform: translateX(100vw);
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}
.navbarMenu ul{
    margin-bottom: 10vh;
}
.navbarMenu li{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--jonquil);
    margin-top: 10px;
}
.navbarMenu a{
    text-decoration: none;
    font-size: 18pt;
    color: var(--black);
}
.navbarMenu a:active{
    text-decoration: underline var(--black);
}
.openNavbarMenu {
    transform: translateX(0);
}

@media (min-width: 800px) {
    #navbarButton {
        display: none;
    }

    .navbarMenu {
        transform: translateX(100vw);
    }

    .navbarDesktop {
        display: flex;
    }
}