#navbar{
    z-index: 21;
    height: 50px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.90);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarDesktop{ 
    display: none;
    flex-direction: row;
    text-decoration: none;
    font-size: 2.2vmin;
    white-space: nowrap;
    margin-right: 40px;
}
.navbarDesktop a{
    text-decoration: none;
    color: var(--black);
    margin-left: 10px;
    margin-right: 10px;
}
.logo{
    margin-left: 20px;
    color: var(--black);
    text-decoration: none;
}
#navbarButton{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border: hidden;
    background-color: transparent;
    margin-right: 20px;
}
#navbarButton span{
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: gray;
    position: absolute; 
}
/* Toggle Animation */
.burgerLine1{ transform: rotate(-45deg); transition: ease-in-out; transition-delay: 200ms;}
.burgerLine2{display: none; transition: ease-in-out; transition-delay: 200ms;}
.burgerLine3{ transform: rotate(45deg); transition: ease-in-out; transition-delay: 200ms;}

.navbarMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-decoration: none;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    transform: translateX(100vw);
    transition: ease-in-out;
    transition-duration: 200ms;
}

.openNavbarMenu{
    transform: translateX(0);
}
@media (min-width: 800px) {
    #navbarButton{display: none;}
    .navbarMenu{transform: translateX(100vw);}
    .navbarDesktop{display: flex;}
    }
    